@import url('base.css');
@import url('card.css');
@import url('scrollbar.css');

body {
	height: 100dvh;
	padding: var(--offset, 2rem);
}
@media (prefers-color-scheme: light) {
	main.card {
		background: var(--dark-3);
	}
}
.menu-main-container {
	height: 100%;
	display: grid;
	grid-template-columns: 4rem 1fr;
	gap: 0.5rem;
}
menu {
	display: grid;
	grid-template-rows: max-content 1fr max-content;
}
main {
	display: grid;
	height: 100%;
	gap: 0.5rem;
	background: var(--foreground);
}
body:is(.landscape) main {
	grid-template-columns: var(--width-left, 3fr) 1fr;
}
body:is(.portrait) main {
	grid-template-rows: var(--width-left, 3fr) 1fr;
}

/* play.html */

canvas {
	background: white;
}
#canvas-container {
	position: relative;
	padding: 0;
}
#canvas {
	position: absolute;
	bottom: -1px;
	right: -1px;
	transform-origin: bottom right;
	transform: scale(var(--canvas-scale-factor, 1));
}
#content.ingame {
	display: grid;
	grid-template-rows: 1fr 3rem;
	gap: 0.5rem;
}
.chatmessage::before {
	content: '' attr(data-username) ':';
	text-decoration: underline double;
	margin-right: 0.25rem;
}
