.card {
	background: var(--background);
	border: 1px solid var(--color-border);
	overflow: hidden;
	padding: var(--offset, 0.5rem);
}
.card.rounded {
	border-radius: var(--border-radius, 1rem);
}
.card > :is(section) {
	background: var(--background);
}
.card > :is(summary, header, footer) {
	background: var(--foreground);
}
.card > :is(summary, header) {
	border-bottom: 1px solid var(--color-border);
}
.card > :is(footer) {
	border-top: 1px solid var(--color-border);
}
/* .card > *:not(.hr, .vr) {
	padding: 0.5rem;
} */
