/* Menu */
#menu-content {
  display: grid;
  grid-template-rows: 4rem 1fr;
  gap: 0.5rem;
  z-index: 2;
  transition: all 200ms ease-in-out;
  width: 100%;
}
.nav-link {
  display: grid;
  grid-template-columns: 3rem 1fr;
  font-size: 1.5rem;
  justify-content: left;
}
a.nav-link {
  text-decoration: none;
}
.nav-link > :first-child {
  aspect-ratio: 1/1;
}
.nav-link > :last-child {
  display: flex;
}
.nav-link > :last-child > * {
  margin: auto 0;
}
menu {
  display: grid;
  overflow: hidden;
}
#menu-toggle:is(:checked) + #menu-content {
  width: 16rem;
}
#menu-toggle:not(:checked) + #menu-content menu {
  grid-template-rows: var(--menu-layout-closed, 1fr);
}
#menu-toggle:is(:checked) + #menu-content menu {
  grid-template-rows: var(--menu-layout-open, 1fr);
}
