/* Menu */

#player-overview {
	display: grid;
	grid-template-rows: auto 1fr;
	overflow-y: auto;
}
#player-list {
	border: 1px solid var(--accent);
	overflow-y: auto;
}
.player-card {
	display: grid;
	position: relative;
}

.player-card:nth-child(even)::after {
	opacity: 0.1;
}
.player-card:nth-child(odd)::after {
	opacity: 0.2;
}

/* Canvas */

#canvas-container {
	position: relative;
	padding: 0;
}
canvas {
	background: white;
	position: absolute;
	bottom: -1px;
	right: -1px;
	transform-origin: bottom right;
	transform: scale(var(--canvas-scale-factor, 1));
}

#tools-container {
	color: var(--primary);
}
#tools-container {
	background: var(--secondary);
}

/* Chat */

#sozials {
	display: grid;
	grid-template-rows: 3rem 1fr 3rem;
	gap: 0.5rem;
	overflow: hidden;
}
#sozials > * {
	background: var(--color-background);
}
#room-controls-container {
	display: flex;
}
#room-controls-container > * {
	width: 100%;
	margin: 2px;
}

#chat {
	overflow-y: auto;
	word-wrap: break-word;
}
.chatmessage {
	position: relative;
	padding: 0 0.5rem 0.5rem 0;
}
.oddeven::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--accent);
	border-radius: var(--border-radius);
	content: '';
	pointer-events: none;
	margin: -0.25rem;
}
.chatmessage:nth-child(even)::after {
	opacity: 0.1;
}
.chatmessage:nth-child(odd)::after {
	opacity: 0.2;
}
.user-name::after {
	content: ':';
}
#chat-controls-container {
	display: grid;
	grid-template-columns: 1fr 2rem;
	gap: 0.25rem;
}
