body[data-theme='dark'] {
	--primary: #ededed;
	--secondary: #222546;
	--primbtn: #29658a;
	--secbtn: #474866;
	--accent: #d1d2d6;
}
body[data-theme='light'] {
	--primary: #485970;
	--secondary: #fefef6;
	--primbtn: #f6c8c8;
	--secbtn: #c5dbce;
	--accent: #91a8d1;
}
body[data-theme='tuerkis'] {
	--primary: #fdfffe;
	--secondary: #2f4455;
	--primbtn: #da7b93;
	--secbtn: #376f70;
	--accent: #2e151b;
}
