body.dark {
	--color-text: var(--light-1);
	--color-background: #1c1c28;
	--color-foreground: #28293d;
	--border-color: var(--light-3);
}
body.light {
	--color-text: var(--primary);
	--color-background: var(--secondary);
	--color-foreground: var(--primary);
	--border-color: var(--accent);
}
body.custom {
	--color-text: var(--primary);
	--color-background: var(--secondary);
	--color-foreground: var(--primary);
	--border-color: var(--accent);
}
